header{
    text-align: center;
    border: solid rgba(224, 231, 157, 0.836);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100px;
    color: white;
    color: rgb(255, 136, 0);
    text-align: center;
    background-color: rgba(224, 231, 157, 0.836);
    font-size: x-large;  
    padding-bottom: 10px;
}

#A{

    border-radius: 70%;
    padding: 10px;
    width: 100px;
    margin-right: 1500px;
    background-color: rgba(48, 80, 4, 0.507);
    margin-left: auto;
    position: relative;
    top: -45px;
    
} 


       



h1{
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

h2{
    text-align: center;
}
.flex-container_o{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    

}

.column_o{
    text-align: center;
    width: 32%;
}

.column_o img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
  
} 


@media screen and (max-width: 700px) {
    .column {
        width : 48%;
    }
}

@media screen and (max-width: 400px) {
    .column {
        width : 100%;
    }
}


.flex-container_a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 20px;
}

.column_a{
    text-align: center;
    width: 42%;
    margin-bottom: 120px;
}

.column_a img{
    max-width: 80%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
} 




.flex-container_d{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
   
}
        
.column_d{
    text-align: center;
    width: 32%;
    margin-bottom: 20px;
    
}
        
.column_d img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    
    
} 

.div1{
    margin-left: 100px;
}
        
            
      

        
#main{
    max-with:960px;
    margin:auto;
    }
    #menu{
    float: left;
    width:640px;
    height: 900px;
    }

#contenu{
        margin-left:900px;
     
        height: 1200px;
}
  
h2{
    text-align: center;
    font-variant: small-caps;
}

#O{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 20px;
    margin-left: 35px;
}

#Q{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 20px;

} 

.flex-container_c{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    
}

.column_c{
    text-align: center;
    width: 38%;
}

.column_c img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    
   
}  
.flex-container_x{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;

}

.column_x{
    text-align: center;
    width: 38%;
}

.column_x img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
} 

#main{
    max-with:960px;
    margin:auto;
    }
    #menu{
    float: left;
    width:640px;
    
    height: 1000px;
    }
    #contenu{
        margin-left:900px;
    }
  
h2{
    text-align: center;
}

#O{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 50px;
} 
h3{
    text-align: center;
    color: red;
}

#Q{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 50px;

} 



.flex-container_k{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
    margin-top: 40px;
   margin-bottom: 40px;
   
}

.column_k{
   text-align: center;
   width: 38%;
   margin-left: auto;
   margin-right: auto;
}

.column_k img{
   max-width: 100%;
   margin-left: 0 !important;
   height: 400px;
   width: 100%;
   border-radius: 15px;
   margin-bottom: 20px;  
}    

.flex-container_e{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    margin-right: 30px;
    margin-left: 30px;

}

.column_e{
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.column_e img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-bottom: 20px;
   
} 

.flex-container_f{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px;
    margin-right: 30px;
    margin-left: 30px;

}

.column_f{
    text-align: center;
    width: 35%;
    margin-left: 120px;
    margin-right: 120px;
}

.column_f img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
   
} 


.flex-container_h{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin-right: 30px;
    margin-left: 30px;

}

.column_h{
    text-align: center;
    width: 35%;
    margin-left: 100px;
    margin-right: 100px;
}

.column_h img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
   
} 
.flex-container_y{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
   
}
        
.column_y{
    text-align: center;
    width: 32%;
    margin-bottom: 20px;
    
}
        
.column_y img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    
    
} 

.flex-container_g{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
    margin-right: auto;
    margin-left: auto;

}

.column_g{
    text-align: center;
    width: 35%;
    margin-left: 120px;
    margin-right: 100px;
}

.column_g img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
   
   
} 

   
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px; 
 }

p{
    column-span: all;
    justify-content: space-between;
    line-height: 35px;   
} 

.column{
    text-align: center;
    width: 35%;
}
        
.column img{
    max-width: 80%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    
    
}
 .column{
    text-align: center;
    width: 35%;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;

} 

.column img{
    max-width: 100%;
    margin-left: 0 !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
}     

.flex-container_A{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;

}

.column_A{
    text-align: center;
    width: 35%;
}

.column_A img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
} 
.flex-container_b{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;

}

.column_b{
    text-align: center;
    width: 32%;
}

.column_b img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
} 


.flex-container_l{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;

}

.column_l{
    text-align: center;
    width: 32%;
}

.column_l img{
    max-width: 100%;
    margin-left: O !important;
    height: 400px;
    width: 100%;
    border-radius: 15px;
} 


 
footer{
    
    border: solid rgba(15, 15, 15, 0.89);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 100px;
    color: white;
    background-color: black;
    font-size: x-large; 
    text-align: center; 
}


      